html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: white;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header, .s-3 {
  max-width: 1800px;
  width: 100%;
  margin: auto;
}

header .navbar, header .Main-nav, header .End-nav, .s-1 .box-flex, .s-2 .s-2-start, .s-2 .s-2-end, .s-3 .s-3-flex, .s-3 .s-3-flex .s-3-end, .s-4 .s-2-end, .s-5 .s-5-start, .s-5 .s-2-end, .s-6 .s-6-start, .s-6 .flex-box-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.s-1, .s-2, .s-4, .s-5, .s-6 {
  max-width: 1480px;
  width: 100%;
  margin: auto;
}

.s-1 .box-flex .s-1-box .play-button, .s-1 .box-flex .s-1-box-2 .play-button, .s-1 .box-flex .s-1-box-3 .play-button {
  position: absolute;
  z-index: -3;
  padding-left: 110px;
  margin-top: 210px;
}

.s-1 .box-flex .s-1-box .play-button .blurry-box, .s-1 .box-flex .s-1-box-2 .play-button .blurry-box, .s-1 .box-flex .s-1-box-3 .play-button .blurry-box {
  width: 60px;
  height: 60px;
  background-color: #1C1C1C;
  border-radius: 50%;
  position: absolute;
  opacity: 70%;
}

.s-1 .box-flex .s-1-box .play-button .color-play, .s-1 .box-flex .s-1-box-2 .play-button .color-play, .s-1 .box-flex .s-1-box-3 .play-button .color-play {
  color: white;
  position: relative;
  width: 20.57px;
  height: 24px;
  left: 26px;
  top: 21px;
}

.s-1 .box-flex .s-1-box .image-1, .s-1 .box-flex .s-1-box-2 .image-1, .s-1 .box-flex .s-1-box-3 .image-1 {
  -webkit-filter: blur(5px);
          filter: blur(5px);
  position: relative;
  z-index: -6;
}

.s-1 .box-flex .s-1-box .image-1-outline, .s-1 .box-flex .s-1-box-2 .image-1-outline, .s-1 .box-flex .s-1-box-3 .image-1-outline {
  position: absolute;
  margin-left: 100px;
  z-index: -5;
}

.s-1 .box-flex .s-1-box .image-1-cover, .s-1 .box-flex .s-1-box-2 .image-1-cover, .s-1 .box-flex .s-1-box-3 .image-1-cover {
  position: absolute;
  z-index: -4;
  margin-left: 50px;
  margin-top: 70px;
}

.s-1 .box-flex .s-1-box-2 .play-button .color-play, .s-1 .box-flex .s-1-box-3 .play-button .color-play {
  left: 16px;
  top: 15px;
}

.s-1 .box-flex .s-1-box .text2-s-1-image, .s-1 .box-flex .s-1-box-2 .text2-s-1-image-2, .s-1 .box-flex .s-1-box-3 .text2-s-1-image-3 {
  position: absolute;
  z-index: -1;
  margin-top: 270px;
  margin-left: 265px;
  font-size: 12px;
  font-family: "Lato", sans-serif;
  color: #D5D5D5;
  opacity: 80%;
}

.s-1 .box-flex .s-1-box .text-s-1-image, .s-1 .box-flex .s-1-box-2 .text-s-1-image-2, .s-1 .box-flex .s-1-box-3 .text-s-1-image-3 {
  position: absolute;
  z-index: -2;
  margin-top: 145px;
  margin-left: 265px;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  color: white;
}

body {
  background-color: #161A1A;
  height: 1800px;
  color: white;
}

* {
  font-family: 'Lato', sans-serif;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar {
  position: fixed;
  margin-top: 80px;
}

header .logo {
  margin-right: 44px;
}

header .Main-nav {
  color: #707070;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  width: 286px;
  margin-right: 1000px;
  cursor: pointer;
}

header .Main-nav .last-child {
  background: linear-gradient(#161A1A, #161A1A) padding-box, linear-gradient(30deg, #2D9BEF, #9B2DEF) border-box;
  border-width: 4px;
  border-style: solid;
  padding: 8px 30px;
  border-color: transparent;
  border-radius: 30px;
  color: #2DCEEF;
}

header .End-nav .font {
  font-family: fontawesome;
  border-radius: 15px;
  padding: 9px 15px;
  outline: 0;
  border: 0;
  background-color: #898B91;
  color: white;
  margin-right: 25px;
}

header .End-nav .font::first-letter {
  text-transform: lowercase;
}

header .End-nav .User {
  margin-right: 10px;
}

header .End-nav .Username {
  color: white;
  margin-right: 5px;
  font-family: "Lato", sans-serif;
}

header .End-nav .dropdown {
  cursor: pointer;
  margin-left: 3px;
  margin-right: 7px;
}

header .End-nav .nolog {
  font-family: "Lato", sans-serif;
  font-size: 15px;
}

header .End-nav .nolog button {
  background-color: #161A1A;
  color: white;
  outline: 0;
  border: 0;
}

header .End-nav .register-login {
  font-family: "Lato", sans-serif;
  font-size: 20px;
}

.mobile-header {
  display: none;
}

@media (max-width: 1823px) {
  header .Main-nav {
    margin-right: 700px;
  }
}

@media (max-width: 1523px) {
  header .Main-nav {
    margin-right: 300px;
  }
  .s-1 .box-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .s-1 .box-flex div {
    margin-bottom: 15px;
  }
  .s-2 .s-2-end {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .s-2 .s-2-end div {
    margin-bottom: 15px;
  }
  .s-4 .s-2-end {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .s-4 .s-2-end div {
    margin-bottom: 15px;
  }
  .s-5 .s-2-end {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .s-5 .s-2-end div {
    margin-bottom: 15px;
  }
  .s-6 .flex-box-1 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .s-6 .flex-box-1 div {
    margin-bottom: 15px;
  }
}

@media (max-width: 1123px) {
  header .Main-nav {
    margin-right: 150px;
    -webkit-transition: 0 0.3s;
    transition: 0 0.3s;
  }
}

@media (max-width: 970px) {
  .s-2 .s-2-end {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .s-2 .s-2-end div {
    margin-bottom: 15px;
  }
  .header-flex {
    display: none;
  }
  .mobile-header {
    display: block;
    margin-top: 50px;
    max-width: 1800px;
    width: 100%;
    margin: auto;
  }
  .mobile-header .both {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mobile-header .both .logo {
    width: 88.5px;
    display: block;
    margin: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 15px;
    cursor: pointer;
  }
  .mobile-header .both .mob-mid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mobile-header .both .mob-mid div {
    color: white;
    cursor: pointer;
  }
  .mobile-header .both .Username {
    margin-left: 5px;
    margin-top: 6px;
    color: white;
    margin-right: 5px;
    font-family: "Lato", sans-serif;
  }
}

@media (max-width: 720px) {
  .s-3 {
    width: 80%;
  }
  .s-3 .s-3-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .s-3 .s-3-flex div {
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .s-4 {
    width: 70%;
  }
  .s-4 .s-2-end {
    margin: auto;
    margin-left: 30px;
  }
  .s-4 .s-2-end div {
    margin-bottom: 20px;
  }
  .s-5 .s-2-end {
    margin-left: 15px;
  }
  .s-5 .s-2-end div {
    margin: auto;
    margin-bottom: 20px;
  }
  .s-6 .flex-box-1 div {
    margin: auto;
    margin-bottom: 20px;
  }
}

.s-1 {
  padding-top: 118px;
}

.s-1 .s-1-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  margin-bottom: 30px;
}

.s-1 .Flow {
  font-family: "Lato", sans-serif;
  color: white;
}

.s-1 .color {
  color: white;
}

.s-1 .box-flex .s-1-box-2 .text-s-1-image-2 {
  text-align: center;
}

.s-2 {
  padding-top: 90px;
  margin-bottom: 56px;
}

.s-2 .s-2-start .s-2-start-text {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  color: white;
  margin-bottom: 30px;
}

.s-2 .s-2-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.s-2 .s-2-end .box-1 .box-text-1 {
  width: 225px;
  text-align: center;
  color: white;
}

.s-2 .s-2-end .box-1 .box-text-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 225px;
  color: #99999F;
}

.s-3 {
  background-color: #3A3A3D;
  border-radius: 13px;
}

.s-3 .s-3-flex {
  padding: 14px;
}

.s-3 .s-3-flex .s-3-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.s-3 .s-3-flex .s-3-start .s-3-start-1 .queen-img {
  width: 78px;
  height: 78px;
  margin-right: 14px;
}

.s-3 .s-3-flex .s-3-start .s-3-start-2 {
  font-family: "Lato", sans-serif;
  padding: 16px;
}

.s-3 .s-3-flex .s-3-start .s-3-start-2 .s-3-start-2-1 {
  font-size: 16px;
  color: white;
  margin-bottom: 10px;
}

.s-3 .s-3-flex .s-3-start .s-3-start-2 .s-3-start-2-2 {
  font-size: 16px;
  color: #99999F;
}

.s-3 .s-3-flex .s-3-start .s-3-start-3 {
  padding: 28px;
}

.s-3 .s-3-flex .s-3-start .s-3-start-3 .color {
  margin-right: 17px;
}

.s-3 .s-3-flex .s-3-start .s-3-start-3 .color:hover {
  cursor: pointer;
  color: red;
}

.s-3 .s-3-flex .s-3-mid .audio {
  border: 0;
  outline: 0;
}

.s-3 .s-3-flex .s-3-end .end-text {
  color: white;
  font-family: "Lato", sans-serif;
  margin-right: 30px;
}

.s-3 .s-3-flex .s-3-end .just-hover {
  cursor: pointer;
}

.s-3 .s-3-flex .s-3-end .just-hover .color:hover {
  color: #680e0e;
}

.s-3 .s-3-flex .s-3-end .just-hover .color-2:hover {
  color: #361c27;
}

.s-3 .s-3-flex .s-3-end .just-hover .color-3:hover {
  color: #1c3623;
}

.s-3 .s-3-flex .s-3-end .just-hover .color-4:hover {
  color: #a78015;
}

.s-3 .s-3-flex .s-3-end .just-hover .color-5:hover {
  color: #ffd000;
}

audio::-webkit-media-controls-panel {
  background-color: #3A3A3D;
}

audio::-webkit-media-controls-play-button {
  color: white;
}

audio::-webkit-media-controls-time-remaining-display {
  color: white;
  opacity: 80%;
}

audio::-webkit-media-controls-current-time-display {
  color: white;
  opacity: 80%;
}

.s-4 {
  margin-top: 30px;
}

.s-5 {
  padding-top: 90px;
  margin-bottom: 56px;
}

.s-5 .s-5-start .s-2-start-text {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  color: white;
  margin-bottom: 30px;
}

.s-5 .s-5-start .s-2-start-text-2 {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #D5D5D5;
  margin-bottom: 30px;
}

.s-5 .s-2-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.s-5 .s-2-end .box-1 .box-text-1 {
  width: 225px;
  text-align: center;
  color: white;
}

.s-5 .s-2-end .box-1 .box-text-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 225px;
  color: #99999F;
}

.s-6 .s-6-start {
  margin-bottom: 5px;
}

.s-6 .s-6-start .s-6-start-text {
  color: white;
  font-size: 24px;
  font-family: "Lato", sans-serif;
}

.s-6 .s-6-start .s-6-start-text-2 {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #D5D5D5;
}

.s-6 .s-6-mid {
  color: #99999F;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  margin-bottom: 10px;
}

.container-1 {
  padding: 16px;
  background-color: white;
  color: black;
  max-width: 600px;
  margin: auto;
  margin-top: 100px;
  border-radius: 15px;
  font-family: "Lato", sans-serif;
}

.container-1 a {
  color: dodgerblue;
}

.container-1 p {
  font-family: "Lato", sans-serif;
  font-size: 28px;
  text-align: center;
  font-stretch: expanded;
}

.container-1 input[type=text], .container-1 input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.container-1 input[type=text] input[type=text]:focus, .container-1 input[type=text] input[type=password]:focus, .container-1 input[type=password] input[type=text]:focus, .container-1 input[type=password] input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.container-1 input[type=text] hr, .container-1 input[type=password] hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.registerbtn {
  background-color: #2D9BEF;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: black;
  text-align: center;
  max-width: 600px;
  margin: auto;
}
/*# sourceMappingURL=global.css.map */