html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  max-width: 1800px;
  width: 100%;
  margin: auto;
}

header .navbar, header .Main-nav, header .End-nav, .s-1 .box-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.s-1 {
  max-width: 1480px;
  width: 100%;
  margin: auto;
}

.s-1 .box-flex .s-1-box .play-button, .s-1 .box-flex .s-1-box-2 .play-button, .s-1 .box-flex .s-1-box-3 .play-button {
  position: absolute;
  z-index: -1;
  padding-left: 110px;
  margin-top: 210px;
}

.s-1 .box-flex .s-1-box .play-button .blurry-box, .s-1 .box-flex .s-1-box-2 .play-button .blurry-box, .s-1 .box-flex .s-1-box-3 .play-button .blurry-box {
  width: 60px;
  height: 60px;
  background-color: #1C1C1C;
  border-radius: 50%;
  position: absolute;
  opacity: 70%;
}

.s-1 .box-flex .s-1-box .play-button .color-play, .s-1 .box-flex .s-1-box-2 .play-button .color-play, .s-1 .box-flex .s-1-box-3 .play-button .color-play {
  color: white;
  position: relative;
  width: 20.57px;
  height: 24px;
  left: 26px;
  top: 21px;
}

.s-1 .box-flex .s-1-box .image-1, .s-1 .box-flex .s-1-box-2 .image-1, .s-1 .box-flex .s-1-box-3 .image-1 {
  -webkit-filter: blur(5px);
          filter: blur(5px);
  position: relative;
  z-index: -4;
}

.s-1 .box-flex .s-1-box .image-1-outline, .s-1 .box-flex .s-1-box-2 .image-1-outline, .s-1 .box-flex .s-1-box-3 .image-1-outline {
  position: absolute;
  margin-left: 100px;
  z-index: -3;
}

.s-1 .box-flex .s-1-box .image-1-cover, .s-1 .box-flex .s-1-box-2 .image-1-cover, .s-1 .box-flex .s-1-box-3 .image-1-cover {
  position: absolute;
  z-index: -2;
  margin-left: 50px;
  margin-top: 70px;
}

.s-1 .box-flex .s-1-box-2 .play-button .color-play, .s-1 .box-flex .s-1-box-3 .play-button .color-play {
  left: 16px;
  top: 15px;
}

body {
  background-color: #161A1A;
  height: 1800px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar {
  position: fixed;
  margin-top: 80px;
}

header .logo {
  margin-right: 44px;
}

header .Main-nav {
  color: #707070;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  width: 286px;
  margin-right: 1000px;
}

header .Main-nav .last-child {
  background: linear-gradient(#161A1A, #161A1A) padding-box, linear-gradient(30deg, #2D9BEF, #9B2DEF) border-box;
  border-width: 4px;
  border-style: solid;
  padding: 8px 30px;
  border-color: transparent;
  border-radius: 30px;
  color: #2DCEEF;
}

header .End-nav .font {
  font-family: fontawesome;
  border-radius: 15px;
  padding: 9px 15px;
  outline: 0;
  border: 0;
  background-color: #898B91;
  color: white;
  margin-right: 25px;
}

header .End-nav .font::first-letter {
  text-transform: lowercase;
}

header .End-nav .User {
  margin-right: 10px;
}

header .End-nav .Username {
  color: white;
  margin-right: 5px;
  font-family: "Lato", sans-serif;
}

.s-1 {
  padding-top: 118px;
}

.s-1 .s-1-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  margin-bottom: 30px;
}

.s-1 .Flow {
  font-family: "Lato", sans-serif;
  color: white;
}

.s-1 .color {
  color: white;
}
/*# sourceMappingURL=global.css.map */