@mixin flex-props($justify: space-between, $align: center) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}
@mixin icon-pro($left: 26px, $top: 20px) {
    left: $left ;
    top: $top;
}