body {
    background-color: #161A1A;
}
header {
    @include flex-props;
    @extend %container;
    .navbar {
        @extend %flex-props;
    }
    .logo {
        margin-right: 44px;
    }
    .Main-nav {
        @extend %flex-props;
        color: #707070;
        font-family: 'Lato', sans-serif;
        font-size: 20px;
        width: 286px;
        // last child ratomgac ar mushaobs
        .last-child {
            border: 4px solid #9B2DEF;
            

            border-radius: 25px;
            padding: 8px 30px;
            color: #2DCEEF
        }

    }
    .End-nav {
        @extend %flex-props;
    }
}