body {
    background-color: #161A1A;
    height: 1800px
}
header {
    @include flex-props;
    @extend %container;
    .navbar {
        @extend %flex-props;
        position:fixed;
        margin-top: 80px;
        
        
    }
    .logo {
        margin-right: 44px;
    }
    .Main-nav {
        @extend %flex-props;
        color: #707070;
        font-family: $main-font;
        font-size: 20px;
        width: 286px;
        margin-right: 1000px;
        // last child ratomgac ar mushaobs
        .last-child {
            background: linear-gradient(#161A1A ,#161A1A) padding-box,
             linear-gradient(30deg,#2D9BEF ,#9B2DEF) border-box;
            border-width: 4px;
            border-style: solid;
            padding: 8px 30px;
            border-color: transparent;
            border-radius: 30px;
            color: #2DCEEF;
            // color: #2DCEEF
        }

    }
    .End-nav {
        @extend %flex-props;
        
        .font {
            font-family: fontawesome;
            border-radius: 15px;
            padding: 9px 15px;
            outline: 0;
            border: 0;
            background-color: #898B91;
            color: white;
            margin-right: 25px;
            &::first-letter {
                text-transform: lowercase;
            }
        }
        .User {
            margin-right: 10px;
        }
        .Username {
            color: white;
            margin-right: 5px;
            font-family: $main-font;
        }
        
            
        
    }
}
.s-1 {
    @extend %section;
    padding-top: 118px;
    .s-1-start {
        @include flex-props;
        font-size: 24px;
        margin-bottom: 30px;
    }
    .Flow {
        font-family: $main-font;
        color: white;
    }
    .color {
        color: white;
    }
    .box-flex {
        @extend %flex-props;
        .s-1-box{
            .text2-s-1-image{
                @extend %s-1-image-text-2;
            }
            .text-s-1-image {
                @extend %s-1-image-text;
            }
            .play-button{
                @extend %play-button;
                .blurry-box {
                @extend %blurry-box;
            }
            .color-play{
                @extend %color-play;
            }
        }
        
            .image-1 {
                @extend %image-1;
            }
            .image-1-outline {
                @extend %image-1-outline;
         }
            .image-1-cover {
                @extend %image-1-cover;
            }
        }
        .s-1-box-2{
            .text2-s-1-image-2{
                @extend %s-1-image-text-2;
            }
            .text-s-1-image-2 {
                @extend %s-1-image-text;
                text-align: center;
            }
            .play-button{
                @extend %play-button;
            .blurry-box {
                @extend %blurry-box;
            }
            .color-play{
                @extend %color-play;
                @extend %color-play1;
            }
        }
            
            .image-1 {
                 @extend %image-1;
                
            }
            .image-1-outline {
                 @extend %image-1-outline;
            }
            .image-1-cover {
                @extend %image-1-cover;
            }
        }
        .s-1-box-3{
            .text2-s-1-image-3{
                @extend %s-1-image-text-2;
            }
            .text-s-1-image-3 {
                @extend %s-1-image-text;
            }
                .play-button{
                    @extend %play-button;
                .blurry-box {
                    @extend %blurry-box;
                }
                .color-play{
                    @extend %color-play;
                    @extend %color-play1;
                }
            }
                
                .image-1 {
                    @extend %image-1;
                }
                .image-1-outline {
                    @extend %image-1-outline;
                }
                .image-1-cover {
                    @extend %image-1-cover;
                }

            }    
    }
}
.s-2 {
    @extend %section;
    padding-top: 90px;
    margin-bottom: 56px;
    .s-2-start{
        @extend %flex-props;
        .s-2-start-text {
            font-family: $main-font;
            font-size: 24px;
            color: white;
        }
    }
    .s-2-end {
        @extend %flex-props;
        display: flex;
        .box-1 {
            .box-text-1 {
                width: 225px;
                text-align: center;
                color: white ;
            }
            .box-text-2 {
                display: flex;
                justify-content: center;
                width: 225px;
                color: #99999F ;
            }
        }
    }
}
.s-3 {
    @extend %container;
    background-color: #3A3A3D;
    border-radius: 13px;
    .s-3-flex {
        padding: 14px;
        .s-3-start{
            display: flex;
            .s-3-start-1 {
                .queen-img {
                width: 78px;
                height: 78px;
                margin-right: 14px; 
        }
            }
        .s-3-start-2{
            font-family: $main-font;
            
            padding: 16px;
            .s-3-start-2-1 {
                font-size: 16px;
                color: white;
                margin-bottom: 10px;
            }
            .s-3-start-2-2{
                font-size: 16px;
                color: #99999F;
            }
          
        }
        .s-3-start-3 {
            padding: 28px;
            .s-3-start-3-1 {
                margin-right: 17px;
            }
        }
        }
    }
        
}